body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}