.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto 300px;
    
    
    /*
    
    
    grid-template-rows: 200px 300px 200px;
    grid-template-columns: repeat(12, 1fr);
    
    
    */
}

#div5{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    font-size: 12px;
}

#div1{
    grid-column: 1/4;
    grid-row: 1/3;
}