*{
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}

.container{
    padding: 20px;
    width: 60%;
    margin: 120px auto;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 400px;
}

table{
    width: 100%;
    text-align: center;
    padding: 25px;
}
thead{
    height: 70px;
    background: rgba(153, 138, 138, 0.219);
}

.thproduct{
    width: 50%;
}

tbody td{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid rgba(153, 138, 138, 0.219);
}

.descripcion{
    text-align: left;
}

img{
    border-radius: 10px;
}

td p{
    font-style: italic;
}

.menu{
    background-color: rgb(153, 138, 138);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    
}
.menu li{
    display: inline;
    margin: 0 20px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

.menu ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}