*{
    font-family: 'Lucida sans', sans-serif;
}

#headerfooter{
    border: 1px solid red;
    height: 70px;
    text-align: center;
}

.container{
    width: 80%;
    margin: 20px auto 20px auto;
    height: 500px;

    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
}

.noticias{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imagenes{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.noticias > div{
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
}

.imagenes > div{
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
}