body{
max-width: 100vw;
overflow: auto;
}

.carro{
    position: fixed;
    /* display: none; */
    width: 0px;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #ffffff00;
    padding: 50px 10px;
    transition: 0.5s;
    text-align: center;
    box-sizing: border-box;
   /* background-color: red;*/
}

.carro .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    .carro {
        width: 100%;
    }
  } 

#total{
    display: none;
}