*{
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}
.container{
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

#div1{
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2{
    background-color: orange;
    flex-grow: 1;
}
#div3{
    background-color: blueviolet;
    flex-grow: 1;
}
