*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    min-height: 600px;
    border-radius: 20px;
    border: 5px solid rgb(63, 12, 12);
    margin: 20px auto;
    padding: 30px;

    text-align: center;
}

.form-group{
    margin: 10px;
}

.form-control{
    padding: 5px;
    border-radius: 5px;
}